@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary-color: rgb(42, 84, 255);
  --error-color: rgb(255, 48, 48);
  --primary-btn-hover-color: rgb(10, 49, 205);

  /* transitions */
  --color-transition: 250ms color ease-in-out;
  --background-transition: 250ms background-color ease-in-out;
}

[data-theme="light"] {
  /*colors */
  --secondary-color: rgba(0, 0, 0, 0.1);

  /* bg-colors */
  --primary-background-color: #ffff;
  --secondary-background-color: #ffff;

  /* text-color */
  --primary-text-color: rgba(0, 0, 0, 0.85);

  /* border-color */
  --border-color: rgba(0, 0, 0, 0.8);

  /*btn hover */
  --secondary-btn-hover-color: rgba(0, 0, 0, 0.2);

  /* box-shadow */
  --primary-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
  --input-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  --input-focus-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.8);
}

[data-theme="dark"] {
  /*colors */
  --secondary-color: rgba(255, 255, 255, 0.2);

  /* bg-color */
  --primary-background-color: rgb(2, 0, 32);
  --secondary-background-color: rgb(3, 0, 43);

  /* text-color */
  --primary-text-color: #ffff;

  /* border color */
  --border-color: rgba(255, 255, 255, 0.7);

  /* hover */
  --secondary-btn-hover-color: rgba(255, 255, 255, 0.3);

  /* box-shadow */
  --primary-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
  --input-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.2);
  --input-focus-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.8);
}

html {
  font-size: 62.5%; /* Since 16px = 100% thus 10px = 62.5% */
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

input,
button {
  font-family: "Poppins", sans-serif;
}

/* media query */

@media screen and (max-width: 768px) {
  html {
    font-size: 56.25%; /* Since 16px = 100% thus 9px = 56.25% */
  }
}
